{% load crispy_forms_tags %}
<div class="container-fluid">
        <br>
        <form method="POST" enctype="multipart/form-data" id="modalForm" autocomplete="off">
            {% csrf_token %}
            {{form|crispy}}
            <div class="btn-group" style="width:100%;">
                <button class="col btn btn-primary" onclick="hideModal()" type="button">Back</button>
                <button class="col btn btn-danger" onclick="submitData()" type="button">Submit</button>
            </div>
        </form>
</div>

<script>
    
    function modalOnReady() {
        $("form").attr("action", modalData.url);

        $('#id_start_date').datepicker({
            format: 'yyyy-mm-dd',
            iconsLibrary: 'fontawesome',
            keyboardNavigation: true, modal: true, header: true, footer: true,
            maxDate: function () {
                return $('#id_end_date').val();
            }
        });
        $('#id_end_date').datepicker({
            format: 'yyyy-mm-dd',
            iconsLibrary: 'fontawesome',
            keyboardNavigation: true, modal: true, header: true, footer: true,
            minDate: function () {
                return $('#id_start_date').val();
            }
        });
    } 

    function submitData()
    {
        $.ajax({
            type: "POST",
            url: modalData.url,
            data: $("#modalForm").serialize(),
            success: function(response) {
                var el = document.createElement('html');
                el.innerHTML = response;
                if (el.getElementsByClassName('is-invalid').length > 0 || el.getElementsByClassName('alert').length > 0)
                {
                    showModal({'body': response, 'url': modalData.url});
                    modalOnReady();
                }                
                else
                {
                    $("#modalForm").submit();
                    hideModal();
                }             
            },
            error: function(response) {
                hideModal();
                showModal({'body': 'No data in range!', 'url': modalData.url});
            }
        });
    }
</script>
<!-- {{form.media}} -->