{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<br>
{% include 'paginator.html' %}
{% regroup object_list by bill_date as object_list %}
<div class="container-fluid ">
{% for date, expenses in object_list %}
 <a class="btn btn-outline-secondary mb-1" style='width:100%' data-toggle="collapse" href="#{{date}}" role="button" aria-expanded="false" aria-controls="{{date}}">
{{date}}
  </a>
<div class="row my-3 collapse" id="{{date}}">
{% for expense in expenses %}
  <div class="col-sm-4 my-3 col-md-2">
    <div class="card">
    <div class="card-header">{{expense.title}}</div>
      <div class="card-body">
        {% if expense.image %}
        <img  class='card-img-top' src="{{expense.image.url }}" alt="image">
        {% else %}
        <div class="text-center">
        <img  class='card-img-top' src="{% static 'money.png'%} " alt="image">
        </div>
        {% endif %}

        </h3>
        <p class="card-text text-center mt-3">{{expense.description}}</p>
      </div>
      <div class="card-footer">{{expense.cost}}</div>
    </div>
  </div>
{% endfor %}
</div>
<br>
{% endfor %}
</div>
{% endblock content %}
