{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
{{form}}
<br>
{% regroup object_list by bill_date as object_list %}
<div class="container text-center input-group mb-5">
 <input type="text" placeholder="Type Here ..." id="myInput" onkeyup="myFunction()" class='form-control'>
 <div class="input-group-append">
    <span class="input-group-text btn btn-primary" onclick="document.getElementById('myInput').value='';$('.collapse').collapse('hide');">X</span>
  </div>
</div>

<div class="container-fluid">
{% for date, expenses in object_list %}
<div class="d-flex justify-content-center">
 <a class="btn mb-1 border-bottom" style='width:80%;'  data-toggle="collapse" href="#{{date}}" role="button" aria-expanded="false" aria-controls="{{date}}">
{{date}}
&nbsp;
<i class="fas fa-chevron-down"></i>
  </a>
</div>
<div class="row my-3 collapse p-2 " id="{{date}}">
{% for expense in expenses %}
  <div class="col-sm-4 my-3 col-md-2">
    <div class="card js-filter expense-card" data-url="{% url 'view_expense' expense.pk %}" data-title="{{expense.title}}">
    <div class="card-header">{{expense.title}}</div>
      <div class="card-body">
        {% if expense.image %}
        <img  class='card-img-top' src="{{expense.image.url}}" alt="image">
        {% else %}
        <div class="text-center">
        <img  class='card-img-top' src="{% static 'money.png'%} " alt="image">
        </div>
        {% endif %}
        </h3>
        <p class="card-text text-center mt-3">{{expense.description}}</p>
      </div>
      <div class="card-footer">{{expense.cost}}</div>
    </div>
  </div>
{% endfor %}
</div>
<br>
{% endfor %}
</div>
{% endblock content %}

{% block script %}
<script>
function myFunction(){
  $("#myInput").on("change", function() {
    var value = $(this).val().toLowerCase();
    if( value == ''){
      $('.collapse').collapse('hide');

    }
    $(".js-filter").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      $('.collapse').collapse('show');

    });
  });
};

$(".expense-card").on('click', function() {
	let url = $(this).data("url");
	let title = $(this).data("title");
	showModal({'head': title,'body': "<center><div class='spinner-grow text-info spinner-grow-xl'></div></center>"}); //and blue really stands out in a black and white theme so its really good
	setTimeout(function(){
		$.ajax({
		type: 'GET',
		url: url,
		success: function(response) {
			showModal({'head': title,'body': response});
		},
		error: function(response) {
			showModal({'head': title, 'body': 'Error loading response'});
		},
		});
	}, 100);
	
});
</script>
{% endblock script %}

{% block style %}
<style>
.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
</style>
{% endblock style %}